<div class="mxtp-main">
  <div class="about-section">
  <h1>About MXTP</h1>
  <hr>
    <p>
      Ever just listened to a song and just felt all the 'feels'?
    </p>
    <p>
      Yeah, us too! 
    </p>
    <p>
      Now you can share the feels with your partner or friends through MXTP!
    </p>
    <p>
      Just like an old school mixtape, MXTP allows you to collate all your favourite tracks into a playlist to send to your friend/partner/dog/cat/dinosaur etc... You can add notes like "Remember that time when..." or "This song reminds me of you because..."
    </p>
    <p>
      So what are you waiting for? Go ahead and get started!
    </p>
    
    <a href="/"><%= image_tag "started_banner.gif" %></a>
    
  </div>

</div>
  

