<div class="main-background">

<div class="mxtp-main">

        <div class="mxtp-section">
                <div class="engage-section">
                        <h2 class="engage-title">CREATE A NEW PLAYLIST</h2>
                        <%= button_to "GET STARTED", new_playlist_path, method: "get" %>
                </div>
        </div>

<img src="" alt="">

</div>

</div>
